# Moduulit 1 ja 2
Haetaan tiedot ja importataan pandaan

In [135]:
from ucimlrepo import fetch_ucirepo
import pandas as pd

chronic_kidney_disease = fetch_ucirepo(id=336)

df = chronic_kidney_disease.data.original
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47.0,6700.0,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54.0,7800.0,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49.0,6600.0,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51.0,7200.0,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53.0,6800.0,6.1,no,no,no,good,no,no,notckd

Poistetaan turhat sarakkeet ja nimetään uudestaan lyhenteet käytetyistä sarakkeista

In [136]:
df = df.drop(columns=['rbc', 'pc', 'pcc', 'ba', 'sc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane'])
df.rename(columns={'bp':'Blood pressure', 'sg':'Specific gravity', 'al':'Albumin', 'su':'Sugar', 'bgr':'Blood glucose random', 'bu':'Blood urea', 'sod':'Sodium', 'pot':'Potassium', 'hemo':'Hemoglobin', 'pcv':'Packed cell volume', 'wbcc':'White blood cell count', 'rbcc':'Red blood cell count'}, inplace=True)
df

,age,Blood pressure,Specific gravity,Albumin,Sugar,Blood glucose random,Blood urea,Sodium,Potassium,Hemoglobin,Packed cell volume,White blood cell count,Red blood cell count,class
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,NaN,NaN,15.4,44.0,7800.0,5.2,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,NaN,NaN,11.3,38.0,6000.0,NaN,ckd
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,NaN,NaN,9.6,31.0,7500.0,NaN,ckd
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,111.0,2.5,11.2,32.0,6700.0,3.9,ckd
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,NaN,NaN,11.6,35.0,7300.0,4.6,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,150.0,4.9,15.7,47.0,6700.0,4.9,notckd
396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,141.0,3.5,16.5,54.0,7800.0,6.2,notckd
397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,137.0,4.4,15.8,49.0,6600.0,5.4,notckd
398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,135.0,4.9,14.2,51.0,7200.0,5.9,notckd
399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,141.0,3.5,15.8,53.0,6800.0,6.1,notckd

Muutetaan hemoglobiini g/dl -> g/l

In [137]:
df['Hemoglobin'] = df['Hemoglobin'] * 10
df['Hemoglobin']

0      154.0
1      113.0
2       96.0
3      112.0
4      116.0
       ...
395    157.0
396    165.0
397    158.0
398    142.0
399    158.0
Name: Hemoglobin, Length: 400, dtype: float64

Muutetaan luokan arvojen nimiä

In [138]:

df['class'] = df['class'].map({'ckd': 'a', 'notckd': 'c'})
len(df)

400

Poistetaan rivit, joissa on 3 tai enemmän tyhjiä arvoja
.isna() valitsee tyhjät luvut, jotka lasketaan rivillä yhteen ja jos niitä on yli 3 jätetään ne pois

In [139]:
print('orginal lenght', len(df))
df = df[df.isna().sum(axis = 1) < 3]
print('new length', len(df))
df

orginal lenght 400
new length 265

,age,Blood pressure,Specific gravity,Albumin,Sugar,Blood glucose random,Blood urea,Sodium,Potassium,Hemoglobin,Packed cell volume,White blood cell count,Red blood cell count,class
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,NaN,NaN,154.0,44.0,7800.0,5.2,a
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,111.0,2.5,112.0,32.0,6700.0,3.9,a
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,NaN,NaN,116.0,35.0,7300.0,4.6,a
5,60.0,90.0,1.015,3.0,0.0,74.0,25.0,142.0,3.2,122.0,39.0,7800.0,4.4,a
6,68.0,70.0,1.010,0.0,0.0,100.0,54.0,104.0,4.0,124.0,36.0,NaN,NaN,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,150.0,4.9,157.0,47.0,6700.0,4.9,c
396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,141.0,3.5,165.0,54.0,7800.0,6.2,c
397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,137.0,4.4,158.0,49.0,6600.0,5.4,c
398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,135.0,4.9,142.0,51.0,7200.0,5.9,c
399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,141.0,3.5,158.0,53.0,6800.0,6.1,c